* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans';

}
.navbar-wrapper {
display: flex;
}

.main-img {
    position: relative;
    width:1343px;
    height:969px;

}

.header {
position: absolute;
width: 100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
padding-top: 16px;
align-items: center;
}

.logo-company {
    width:137px;
    height:72px;
}

.header-nav a {
font-size: 18px ;
padding-top: 10px;
text-align: center;
gap: 24px;
color: #fff;
font-weight: 500;
text-decoration: none;
margin-left: 29px;
}

.header a:hover {
color: rgb(242, 190, 34);
}

.btn-consult {
    background: rgb(26, 62, 62);
    width: 157px;
    height: 44px; 
    padding-top: 12px;
    padding-left: 9px;
    border-radius: 4px;  
    cursor: pointer;
    text-align: center;
    transition: 0.40s;
    }
    .header-consult {
      text-decoration: none;
      color: #fff;
    }
.btn-consult:hover {
background-color:#752c2c;

}

.title-1 {
position: absolute;
font-size: 50px;
top:551px;
left: 185px;
font-family: 'Next Art';
line-height: 150%;
letter-spacing: 1px;
    color: #fdfdfd;
  text-align: left;

}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  gap: 15px;
}

.about-img {
  position: relative;
  max-width: 480px;
  top: 90px;
  left: 160px;

}

.img-mountain {
  position: relative;
  Width:350px;
  Height:400px;
  
}

.img-home {
  position: relative;
        top: -202px;
        left: 164px;
  Width:350px;
  Height:400px;
}

.about-title {
  position: relative;
  bottom: 643px;
  padding-left: 766px;
  

}

.subtitle-1 {
font-size: 24px;
color: rgb(242, 190, 34);
}

.subtitle-2 {
  font-size:32px;
color: rgb(24, 18, 30);
}

.subtitle-3 {
font-size: 18px; 
}