* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans';

}
.navbar-wrapper {
display: flex;
}

.main-img {
    position: relative;
    width:1343px;
    height:969px;

}

.header {
position: absolute;
width: 100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
padding-top: 16px;
align-items: center;
}

.logo-company {
    width:137px;
    height:72px;
}

.header-nav a {
font-size: 18px ;
padding-top: 10px;
text-align: center;
gap: 24px;
color: #fff;
font-weight: 500;
text-decoration: none;
margin-left: 29px;
}

.header a:hover {
color: rgb(30, 104, 30);
}

.header-consult {
 background: rgb(26, 62, 62);
    width: 157px;
    height: 44px; 
    padding-top: 12px;
    padding-left: 9px;
    border-radius: 4px;  
    cursor: pointer;
     text-decoration: none;
    text-align: center;
    transition: 0.40s; 
    }

.header-consult:hover {
  background-color: #f3f5f4;
      color: #351d1d;
}

.title-1 {
position: absolute;
font-size: 50px;
top:551px;
left: 185px;
font-family: 'Next Art';
line-height: 150%;
letter-spacing: 1px;
    color: #fdfdfd;
  text-align: left;

}


.about__wrapper {
display: flex;
align-items: center;
justify-content: space-between;
padding: 100px 0;
gap: 15px;

}
.about__media {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  position: relative;
  left: 132px;
}
img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about__video {
  position: relative;
  margin: -274px 0 0 130px;
}
.about__video-btn {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(253,253,253,.6);
  transition: all .3s;
  will-change: transform;
  cursor: pointer;
}
.about__video-play {
  width: 15px;
  height: 15px;
  fill: #1a3e3e;
  transition: all .3s;
}

.about__content {
  max-width: 580px;
  position: relative;
    right: 61px;
}
.subtitle {
  margin: 0 0 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #f2be22;
}

.title {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #18121e;
}

.about__text {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #18121e;
}

.about__btn {
  width: 200px;
  height: 52px;
  text-decoration: none;
}

.about__btn:hover {
  background-color: #f3f5f4;
  color: rgb(30, 104, 30);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1a3e3e;
  border-radius: 4px;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .192px;
  color: #fdfdfd;
  background: #1a3e3e;
  transition: all .3s;
  cursor: pointer;
}

.offer-wrapper {
  background: #f3f5f4;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 100px 0;
  gap: 50px;

}

.text-1 {
  margin: 0 0 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #f2be22;
}



.text {
  position: relative;
  padding-left: 127px;
  padding-top: 80px;
}

.text-2 {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 32px;
  line-height: 80%;
  color: #18121e;
}
.text-3 {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #18121e;
  /* padding-top: 9px; */
  width: 597px;
}

h1 {
  position: relative;
  bottom: 76px;
  left: 81px;
  color: #18121e;
  font-size: 18px;
}

.subtext-1 {
position: relative;
    bottom: 75px;
    left: 81px;
    font-size: 14px;
}

.subtext-2 {
position: relative;
    bottom: 75px;
    left: 81px;
    font-size: 14px;
  }
  
  .subtext-3 {
    position: relative;
    bottom: 75px;
    left: 81px;
    font-size: 14px;
    }

    .images-round {
      display: grid;
      flex: 1;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      max-width: 510px;
      gap: 10px;
    }

    .relax-img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    } 

  .price-offer {
      width: 236px;
      height: 52px;
      text-decoration: none;
  }

  .price-offer:hover {
    background-color: #f3f5f4;
    color: rgb(30, 104, 30);
  }

  .popular-places {
      padding: 100px 0;
  }
  .relax-subtext {
  font-size: 24px;
color: rgb(242, 190, 34);
text-align: center;
}

  .popular-subtext {
    position: static;
    font-size: 32px;
    text-align: center;
  }

  .beautiful-pictures {
    position: relative;
    margin-left: 86px;
  }

  .picture-beauty {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 380px;
    height: 555px;
  }

  .popular__btn {
    margin: 30px auto;
    margin-left: 453px;
    width: 244px;
    height: 52px;
    text-decoration: none;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
}

.popular__btn:hover {
background-color: #f3f5f4;
color: rgb(30, 104, 30)
}

.about-trip {
  height: 990px;
  background: rgb(243, 245, 244);
}

 .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} 
.info-cards {
 margin: 0 auto;
  padding: 0 10px;
  max-width: 1197px;
}

.trip-container {
padding-top: 76px;
}
.trip-subtext {
 font-size: 24px;
color: rgb(242, 190, 34);
text-align: center;
}
.zagolovok-trip {
 position: static;
    font-size: 32px;
    text-align: center;
    height: 76px;
}

.card-trip {
  display: flex;
  border-radius: 10px;
  padding: 16px;
  height: auto;
  box-shadow: 0 0 15px 0 rgba(24,18,30,.12);
  background: #fdfdfd; 

}

.img-fluid {
  width: 230px;
  height: 280px;

}
.travel-card {
  display: flex;
    flex-wrap: nowrap;
  border-radius: 10px;
  padding: 16px;
  height: auto;
  box-shadow: 0 0 15px 0 rgba(24,18,30,.12);

}
.trip-title {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.card-title {
  margin: 0;
  padding: 16px 0 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
   color: #18121e;
   
}

.card-title:hover {
color: rgb(26, 62, 62);
text-decoration: underline 1px solid rgba(0,0,0,0);
cursor: pointer;
  text-underline-offset: 3px;
transition: all 11s;
}

.card-text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #18121e;
}

.card-date {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #f2be22;
}

.more-info {
  font-weight: 700;
  font-size: 14px;
color: rgb(26, 62, 62);
}

.more-info:hover {
  text-decoration: underline 1px solid rgba(0,0,0,0);
  cursor: pointer;
    text-underline-offset: 3px;
  transition: all 11s;
  }

.continue-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0 16px;
}


.cards-btn {
  margin: 43px auto;
  margin-left: 453px;
  width: 244px;
  height: 52px;
  text-decoration: none;
  font-size: 16px;
  transition: all .3s;
  cursor: pointer;
}

.cards-btn:hover {
background-color: #f3f5f4;
color: rgb(30, 104, 30);
}
