* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans';

}

.outer-container {
position: relative;
}
.navbar-wrapper {
  display: flex;
  flex-direction: column;
  height: 940px;
  width: 100%;
}

.main-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;

}

.header {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  align-items: center;
}

.logo-company {
    width:137px;
    height:72px;
}

.header-nav a {
font-size: 18px ;
padding-top: 10px;
text-align: center;
gap: 24px;
color: #fff;
font-weight: 500;
text-decoration: none;
margin-left: 29px;
}

.header a:hover {
color: #1a3e3e;
}

.header-consult {
 background: rgb(26, 62, 62);
    width: 157px;
    height: 44px; 
    padding-top: 12px;
    padding-left: 9px;
    border-radius: 4px;  
    cursor: pointer;
     text-decoration: none;
    text-align: center;
    transition: 0.40s; 
    }

.header-consult:hover {
  background-color: #f3f5f4;
      color: #351d1d;
}

.title-1 {
font-size: 50px;
font-family: 'Next Art';
line-height: 150%;
letter-spacing: 2%;
    color: #fdfdfd;
    padding-left: 60px;

}

.start-title {
  z-index: 1;
margin-top: 450px;
}






.start__search {
  display: flex;
  width: 1180px;
height: 161px;
  border-radius: 10px;
  padding: 40px 42px;
  background: rgba(255,255,255,.2);
  backdrop-filter: blur(6px);
  gap: 24px;
}

.start__label {
  display: flex;
  flex-direction: column;
  /* width: 270px; */
  
}


.select-menu {
  width: 270px;
  
  }
  
  .select-menu .select-btn {
  display: flex;
  height: 52px;
  border: 1px solid #e1e3e4;
  background-color: rgba(0,0,0,0);
  color: #fff;
  padding: 20px;
  font-size: 18px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  }
  
  .select-btn i {
  font-size: 25px;
  transition: 0.2s;
  }
  .select-menu.active  .select-btn i {
  transform: rotate(-180deg);
  }
  .select-menu.active .options {
  display: block;
  }
  .select-menu  .options {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #ffff;
  display: none;
  }
  .start__span-1 {
    margin: 8px 0 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #fdfdfd;
  }
  
  
  
  .options .option {
  display: flex;
  height: 52px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #ffff;
  }
  
  .options .option:hover {
  background: #b3e4a6;
  text-decoration:underline;
  }
  
  .option.option-text {
  font-size: 18px;
  color: #333;
  }
  .start__span-2 {
    margin: -1px 0 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #fdfdfd;
  }


  .choices[data-type*=select-one] {
    cursor: pointer;
  } 

/* .start__label {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}

.start__span {
  margin: 8px 0 0 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fdfdfd;
} */ 












.start__block-date {
  display: flex;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  width: 270px;
  
}

.option-text-3 {
  font-size: 18px;
  color: #fff;
padding: 13px;
}

.start__date {
  flex: 1;
  border: 0;
  padding: 0 8px;
  width: 219px;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  background-color: rgba(0,0,0,0);
}

.select-menu-2 {
  width: 270px;
  }
  
  .select-menu-2 .select-btn-2 {
    display: flex;
    height: 52px;
    border: 1px solid #e1e3e4;
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
  }

  .start__span-3 {
    margin: 8px 0 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #fdfdfd;
  }
  
  .select-btn-2 i {
  font-size: 25px;
  transition: 0.2s;
  }
  .select-menu-2.active  .select-btn-2 i {
  transform: rotate(-180deg);
  }
  .select-menu-2.active .options-2 {
  display: block;
  }
  .select-menu-2  .options-2 {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #ffff;
  display: none;
  }
  
  
  
  .options-2 .option-2 {
  display: flex;
  height: 52px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #ffff;
  }
  
  .options-2 .option-2:hover {
    background: #b3e4a6;
  }
  
  .option-2.option-text-2 {
  font-size: 18px;
  color: #333;
  }



.start__search-program {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fdfdfd;
  border-radius: 4px;
  padding: 0;
  width: 213px;
  height: 52px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .192px;
  color: #1a3e3e;
  background: #fdfdfd;
  transition: all .3s;
}

.start__search-program:hover {
  background: #1a3e3e;
  color: #fff;

}


.about__wrapper {
display: flex;
align-items: center;
justify-content: space-between;
padding: 100px 0;
gap: 15px;

}
.about__media {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  position: relative;
  left: 132px;
}
img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about__video {
  position: relative;
  margin: -274px 0 0 130px;
}
.about__video-btn {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(253,253,253,.6);
  transition: all .3s;
  will-change: transform;
  cursor: pointer;
}
.about__video-play {
  width: 15px;
  height: 15px;
  fill: #1a3e3e;
  transition: all .3s;
}

.about__content {
  max-width: 580px;
  position: relative;
    right: 61px;
}
.subtitle {
  margin: 0 0 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #f2be22;
}

.title {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #18121e;
}

.about__text {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #18121e;
}

.about__btn {
  width: 200px;
  height: 52px;
  text-decoration: none;
}

.about__btn:hover {
  background-color: #f3f5f4;
  color: rgb(30, 104, 30);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1a3e3e;
  border-radius: 4px;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .192px;
  color: #fdfdfd;
  background: #1a3e3e;
  transition: all .3s;
  cursor: pointer;
}

.offer-wrapper {
  background: #f3f5f4;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 100px 0;
  gap: 50px;

}

.text-1 {
  margin: 0 0 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #f2be22;
}



.text {
  position: relative;
  padding-left: 127px;
  padding-top: 80px;
}

.text-2 {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 32px;
  line-height: 80%;
  color: #18121e;
}
.text-3 {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #18121e;
  /* padding-top: 9px; */
  width: 597px;
}

h1 {
  position: relative;
  bottom: 76px;
  left: 81px;
  color: #18121e;
  font-size: 18px;
}

.subtext-1 {
position: relative;
    bottom: 75px;
    left: 81px;
    font-size: 14px;
}

.subtext-2 {
position: relative;
    bottom: 75px;
    left: 81px;
    font-size: 14px;
  }
  
  .subtext-3 {
    position: relative;
    bottom: 75px;
    left: 81px;
    font-size: 14px;
    }

    .images-round {
      display: grid;
      flex: 1;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      max-width: 510px;
      gap: 10px;
    }

    .relax-img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    } 

  .price-offer {
      width: 236px;
      height: 52px;
      text-decoration: none;
  }

  .price-offer:hover {
    background-color: #f3f5f4;
    color: rgb(30, 104, 30);
  }

  .popular-places {
      padding: 100px 0;
  }
  .relax-subtext {
  font-size: 24px;
color: rgb(242, 190, 34);
text-align: center;
}

  .popular-subtext {
    position: static;
    font-size: 32px;
    text-align: center;
  }

.beautiful-pictures {
    position: relative;
    margin-left: 86px;
  } 

.picture-beauty {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 380px;
    height: 555px;
  } 

  .popular__btn {
    margin: 30px auto;
    margin-left: 453px;
    width: 244px;
    height: 52px;
    text-decoration: none;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
}

.popular__btn:hover {
background-color: #f3f5f4;
color: rgb(30, 104, 30)
}

.about-trip {
  height: 990px;
  background: rgb(243, 245, 244);
}

 .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} 
.info-cards {
 margin: 0 auto;
  padding: 0 10px;
  max-width: 1197px;
}

.trip-container {
padding-top: 76px;
}
.trip-subtext {
 font-size: 24px;
color: rgb(242, 190, 34);
text-align: center;
}
.zagolovok-trip {
 position: static;
    font-size: 32px;
    text-align: center;
    height: 76px;
}

.card-trip {
  display: flex;
  border-radius: 10px;
  padding: 16px;
  height: auto;
  box-shadow: 0 0 15px 0 rgba(24,18,30,.12);
  background: #fdfdfd; 

}

.img-fluid {
  width: 230px;
  height: 280px;

}
.travel-card {
  display: flex;
    flex-wrap: nowrap;
  border-radius: 10px;
  padding: 16px;
  height: auto;
  box-shadow: 0 0 15px 0 rgba(24,18,30,.12);

}
.trip-title {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.card-title {
  margin: 0;
  padding: 16px 0 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
   color: #18121e;
   
}

.card-title:hover {
color: rgb(26, 62, 62);
text-decoration: underline 1px solid rgba(0,0,0,0);
cursor: pointer;
  text-underline-offset: 3px;
transition: all 11s;
}

.card-text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #18121e;
}

.card-date {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #f2be22;
}

.more-info {
  font-weight: 700;
  font-size: 14px;
color: rgb(26, 62, 62);
}

.more-info:hover {
  text-decoration: underline 1px solid rgba(0,0,0,0);
  cursor: pointer;
    text-underline-offset: 3px;
  transition: all 11s;
  }

.continue-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0 16px;
}


.cards-btn {
  margin: 43px auto;
  margin-left: 453px;
  width: 244px;
  height: 52px;
  text-decoration: none;
  font-size: 16px;
  transition: all .3s;
  cursor: pointer;
}

.cards-btn:hover {
background-color: #f3f5f4;
color: rgb(30, 104, 30);
}

.feedback-subtitle {
text-align: center;
}

.report-subtitle {
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #f2be22;
}

.report-title {
  margin: 0 0 40px;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #18121e;

}

.all-pictures {
  padding: 100px 0;
}

.photo-report {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1197px;
}

.countries-view {
  display:ruby;
  margin-bottom: 50px;

} 

.countries-photo {
position: relative;
    /* inset: 0; */
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    /* opacity: 0; */
    background-color: rgba(26,62,62,0);
    transition: all .3s;
    cursor: pointer;
} 

.picture-btn {
    margin: 43px auto;
    margin-left: 496px;
    width: 185px;
    height: 52px;
    text-decoration: none;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
  }
  
  .picture-btn:hover {
  background-color: #f3f5f4;
  color: rgb(30, 104, 30);
}
.container-email {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: -96px;
  border-radius: 6px;
  padding: 40px 100px;
  box-shadow: 0 0 15px 0 rgba(24,18,30,.12);
  background: #fdfdfd;
  gap: 15px;
}

.news-content {
  flex: 0 1 380px;
}

.actual-info{
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #f2be22;
}

.info-trip {
  margin: 0 0 40px;
  font-weight: 800;
  font-size: 26px;
  line-height: 120%;
  color: #18121e;

}

.container-newsinfo {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1197px;
}

.newsinfo-input {
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  width: 280px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #18121e;
  background: #f3f5f4;
}

.subscribe-info {
  flex: 0 1 536px;
}

.news-subtitle {
  margin: 0 0 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #18121e;
}

.news-form {
  display: flex;
  margin-bottom: 8px;
  gap: 16px;
}

.newsinfo-button {
  border-radius: 4px;
  width: 240px;
  height: 44px;
}

.news-terms {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #18121e;
}

.news-terms-link {
  color: #18121e;
  text-decoration: underline 1px solid #18121e;
}

.footer {
  background-color: #1a3e3e;
}

.footer__top {
  padding: 176px 0 80px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

.footer__top-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.footer__items:first-of-type {
  max-width: 480px;
}

.footer__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #f3f5f4;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.footer__contacts {
  display: flex;
  margin: 80px 0 32px;
  gap: 24px;
}

.footer__contact {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
  color: #fff;
  transition: all .1s;
}

.footer__contact:hover {
color: #f2be22;
}


.footer__socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 21px;
  color: white;
}
.footer__social-link {
  text-decoration: none;
  color: White;
}
.footer__social-link:hover {
color: #f2be22;
}

.footer__items {
  flex: 1;
  max-width: 280px;
}

.footer__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #f3f5f4;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  display: flex;
  align-items: baseline;
}

.footer__arrow {
  margin-right: 10px;
  width: 12px;
  height: 14px;
  transition: all .1s;
}

.footer__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
 color: #fff;
  transition: all .10s;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline 1px solid rgba(0,0,0,0);
  color: #f2be22;
}

.footer__link--new::after {
  content: "NEW";
  margin-left: 8px;
  border-radius: 4px;
  padding: 2px 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  -webkit-text-decoration: underline 1px solid #fff;
  text-decoration: underline 1px solid #fff;
  text-transform: lowercase;
  color: #1a3e3e;
  background: #fff;
}



.footer__list-item+.footer__list-item {
  margin-top: 16px;
}


.footer__bottom {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #18121e;
}

.footer__bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 0;
  gap: 8px;
}

.footer__info {
  margin: 0;
}

.footer__policy {
  margin: 0;
  text-align: center;
  text-decoration: underline;
  transition: all .1s;
  cursor: pointer;
  color: #fff;
}